* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.primaryHeading {
  text-align: center;
  font-size: xx-large;
  text-shadow: 1px 1px 2px rgb(71, 71, 73);
  text-transform: uppercase;
}

.secondaryHeading {
  font-size: xx-large;
  word-wrap: normal;
  word-spacing: 2px;
  letter-spacing: 2px;
}

.heading {
  font-size: 1.5rem;
}

.flexJustArround {
  display: block;
}

/* Navigation Menu Css starts here */
#navbar {
  width: 100%;
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  position: fixed;
  box-shadow: 0px 0px 2px 1px rgb(161, 160, 160);
}

#navbar .logo {
  color: rgb(9, 104, 247);
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

#navbar .navMenu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar .navMenu ul a {
  cursor: pointer;
  margin: 0 2rem;
  text-decoration: none;
  color: black;
}

#navbar .navMenu ul a:hover {
  color: rgb(63, 62, 62)
}

/* Navigation Menu Css ends here */

/* Home Section Css ends here */
#homeSection {
  display: block;
}

#homeSection .content {
  width: 100%;
  padding: 0 20px;
  padding-top: 75px;
  text-align: center;
}

#homeSection .content #downloadApp {
  margin: 1rem 0;
}

#homeSection .content .downloadApp {
  display: flex;
  justify-content: start;
  align-items: center;
}

.downloadAppIcon {
  background-color: black;
  margin-right: 2px;
  padding: 4px 6px;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.downloadAppIcon img {
  width: 15%;
  height: 15%;
}

.downloadAppIcon span {
  font-size: xx-small
}

#homeSection .contentImg {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

#homeSection .contentImg img {
  width: 100%;
  margin-top: 4rem;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  #homeSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #homeSection .content {
    width: 50%;
    padding: 0 10rem;
  }

  #homeSection .contentImg {
    width: 50%;
  }

}

/* Home Section Css ends here */


/* About Us Section Css starts here */
#aboutSection {
  padding-top: 5rem;
}

#aboutSection .content {
  padding: 0 4rem;
  text-align: center;
}

.aboutUsImg img {
  width: 200px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.aboutUsPara {
  font-size: 1rem;
  line-height: 1.857;
  color: #838383;
  margin-bottom: 3.6rem;
}

.aboutSubSection2 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profileContent {
  text-align: center;
}

.detailedProfileContent {
  padding: 10px 20px;
  margin: 10px;
  background-color: rgb(227, 243, 247);
  border: 1px solid skyblue;
  border-radius: 10px;
}
.facebook {
  color: #3b5998;
}
.twitter {
  color: #38baed;
}
.instagram {
  color: #c32aa3;
}
.linkedIn {
  color: #3b5998;
}
.socia-media-icons {
  border-radius: 10px;
  padding-right: 10px;
}
@media only screen and (min-width: 768px) {
  #aboutSection .content {
    width: 70%;
    padding: 0 4rem;
  }

  .aboutUsImg img {
    width: 200px;
    height: 300px;
  }

  .flexJustArround {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .aboutSubSection2 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
  }

  .profileContent {
    display: none;
  }
}

/* About Us Section Css ends here */